*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  #App {
    h1 {
      margin: 20px;
    }

    span {
      font-weight: 700;
      font-size: 2rem;
    }

    input {
      border: 1px solid rgba(21, 21, 21, 1);
      border-radius: 0.3rem;
      padding: 0.25rem;
      width: 7em;
    }

    select {
      margin: 0 0.5rem;
    }
  }
}
